i{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Mobile safe area support */
.safe-area-bottom {
    padding-bottom: env(safe-area-inset-bottom);
}